---
- name: '{{ systemd_timer_name }} Timer | Create check script'
  copy:
    src:  'check.sh'
    dest: '{{ systemd_timer_consul_check_path }}'
    mode: 0755

- name: Create Consul service definition
  include_role: name=infra-role-consul-service
  vars:
    consul_config_name: '{{ systemd_timer_consul_service_id }}'
    consul_default_success_before_passing:   '{{ systemd_timer_consul_success_before_passing }}'
    consul_default_failures_before_warning:  '{{ systemd_timer_failure_success_before_warning }}'
    consul_default_failures_before_critical: '{{ systemd_timer_failure_success_before_critical }}'
    consul_services:
      - id:   '{{ systemd_timer_consul_service_id }}'
        name: '{{ systemd_timer_consul_service_name }}'
        tags: '{{ systemd_timer_consul_tags }}'
        meta: '{{ systemd_timer_consul_meta }}'
        address: '{{ systemd_timer_consul_address }}'
        checks:
          - id: '{{ systemd_timer_consul_service_id }}-check'
            name: 'Systemd Timer Healthcheck'
            notes: '{{ systemd_timer_description }}'
            interval: '{{ systemd_timer_consul_check_interval | string + "s" }}'
            type: 'script'
            script: >-
              {{ systemd_timer_consul_check_path }}
              {%- if systemd_timer_consul_warning %} --warning{% endif %}
              {%- if not systemd_timer_enabled %} --disabled{% endif %}
              --name={{ systemd_timer_name }}
