[Unit]
Description={{ systemd_timer_description }}
Documentation={{ systemd_timer_documentation }}
Requires={{ systemd_timer_requires }}
{% if systemd_timer_requires_extra is defined and systemd_timer_requires_extra != "" %}
Requires={{ systemd_timer_requires_extra }}
{% endif %}
After={{ systemd_timer_requires }}
{% if systemd_timer_after_extra is defined and systemd_timer_after_extra != "" %}
After={{ systemd_timer_after_extra }}
{% endif %}
{% if systemd_timer_restart != "no" %}
StartLimitBurst={{ systemd_timer_restart_retries }}
StartLimitInterval={{ (systemd_timer_restart_retries * systemd_timer_restart_delay) + 30 }}
{% endif %}

[Service]
User={{ systemd_timer_user }}
Group={{ systemd_timer_group }}
Type={{ systemd_timer_type }}
Nice={{ systemd_timer_nice_priority }}
IOSchedulingClass={{ systemd_timer_ionice_class }}
IOSchedulingPriority={{ systemd_timer_ionice_priority }}
ExecStart={{ systemd_timer_script_path }} {{ systemd_timer_script_args }}
TimeoutStartSec={{ systemd_timer_timeout_sec }}
WorkingDirectory={{ systemd_timer_work_dir }}
{% if systemd_timer_state_dir_create %}
StateDirectory={{ systemd_timer_state_dir }}
StateDirectoryMode={{ systemd_timer_state_dir_perms }}
{% endif %}
Restart={{ systemd_timer_restart }}
{% if systemd_timer_restart != "no" %}
RestartSec={{ systemd_timer_restart_delay }}
{% endif %}

{% for key, val in systemd_timer_environment.items() %}
Environment="{{ key }}={{ val }}"
{% endfor %}
{% if systemd_timer_start_on_boot %}

[Install]
WantedBy=multi-user.target
{% endif %}
